@use '../modules/variables';
@use '../modules/breakpoints';
#watch{
    
    .section-title{
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: right;
        width: 100%;

        @include breakpoints.tablet{
            text-align: center;
        }
    }

    .button{
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;

        &:hover{
        background-color: red;
        }
    }

    .watch-list{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 20px;

        &-item{
            max-width: 220px;
            width: 100%;

            @include breakpoints.tablet{
                max-width: 47%;
                padding: 3%;
            }

            @include breakpoints.mobile{
                max-width: 100%;
                padding: 30px;
            }

            &-logo{
                width: 100%;
                padding-bottom: 20px;
                height: 100px;
            }
        }
    }
}